/*
    font-family: 'Architects Daughter', cursive
	font-family: 'Bungee Inline', cursive;
	font-family: 'Bungee Outline', cursive;
*/

body {

	color: palegoldenrod;
	font-family: Courier;
	background-color: rgb(40, 40, 40);
}

h1 {
	font-family: 'Bungee Outline', cursive;
	color: darkgoldenrod;
}

.lw-btn {
	border: 10px yellow;
}

h2 {
	color: darkgoldenrod;
}

a {
	text-decoration: none;
	font-weight: bolder;
	color: darkgoldenrod;
}

a:hover {
	color: lightgoldenrodyellow;
}

p {
	font-family: 'Architects Daughter', cursive;
}

.black-tarjet {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 10px 20px;
	border: 0.8px solid yellow;
	text-align: center;
	background-color: rgb(10, 10, 10);
	box-shadow: 10px 15px 30px goldenrod;
	border-radius: 25px;
}

.inline-list li{
	display: inline;
	font-size: 50px;
	
}

.inline-list {
	padding-left: 0px;
}

.lw-btn {
	border-radius: 25px;
	padding: 5px 5px;
	background-color: darkgoldenrod;
	color: black;
}

